@import "../../styles/Variablies";

.errorComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $twoColor;

  .svg {
    fill: $bgColor;
    width: 300px;
    height: 300px;

    @media (max-width: 450px) {
      width: 200px;
      height: 200px;
    }
  }

  .title {
    color: $bgColor;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (max-width: 450px) {
      font-size: 30px;
      margin-top: 30px;
    }
  }

  .button {
    margin-top: 30px;
  }
}