@import "../../styles/Variablies";

.storyComponent {
  @include borderBox($color);

  .titleBox {
    align-items: flex-start;
    @include borderBottom();

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .link {
      width: 120px;

      text-align: right;
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }

  .infoBox {
    @include flexStandard();
    margin: 5px 20px;

    span {
      font-size: 15px;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }
}