@import '../../styles/Variablies';

.preloaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $twoColor;
  z-index: 10;

  .preloaderBox {
    position: relative;
    top: 35%;
    text-align: center;
    width: 100%;

    .loader {
      width: 100px;
      height: 100px;
      border: 15px solid $bgColor;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1.5s linear infinite;

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

